
/*--------------------------------------------------------------
# CSS STUDIO GARNIER
--------------------------------------------------------------*/


/*--------------------------------------------------------------
                            Body
--------------------------------------------------------------*/





html,
body,
button,
input,
select,
textarea {
	color: #000;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
        
	/*font-size: 1rem;*/
	
}
body{
    background-color: #fff;
}
.site-content{
    background-color: #fff;
}



h1, h2, h3{
    font-family: 'Droid Sans', sans-serif;
    font-weight:bold;
   
}
.navbar-default .navbar-nav>li>a,
.navbar-nav a{
    font-family: 'Droid Sans', sans-serif;
    font-weight:bold;
    color: #000;
   
}


a, a:visited, a:focus{
    color: #ff007a;
    text-decoration: none;
}

footer a, footer a:visited{
    color: #fff;
    text-decoration: none;
}

footer a:focus, footer a:hover{
    color: #ff007a;
    text-decoration: none;
}


/* Content*/

.site-content{
    background-color: #fff;
    margin-top: 82px;
}


.container-fluid{
    padding:0px
}


img{
    height: auto;
    max-width: 100%;
}

.size-full{
    width:100%;
    z-index: 1;
}
/*--------------------------------------------------------------
                            Header 
--------------------------------------------------------------*/

/*-------------------------  Navbar ----------------------------*/



.navbar-nav a {
    font-size: 20px;
    color: #000;
    text-transform:lowercase;
}

.navbar-nav>li>a {
    padding: 13px 0px 13px 20px;
    
}

.container-navbar {
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: transparent;
}

#menu-menu-principal > li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-ancestor.current-menu-parent.current_page_parent.current_page_ancestor.menu-item-has-children.menu-item-34.dropdown.open > a:active{
    color: #ff007a;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover,
#menu-menu-principal > li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-ancestor.current-menu-parent.current_page_parent.current_page_ancestor.menu-item-has-children ul > li.active > a {  
    color: #ff007a;
    background-color: transparent;
}


#menu-menu-principal a:focus span{
    border-top: 4px dashed #ff007a;
}

#menu-menu-principal > li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.dropdown > a:focus {
    color: #ff007a;
}

#menu-menu-principal > li.menu-item.menu-item-type-post_type a:hover{
    background-color: transparent;
    color:#ff007a;
}
.navbar-default {
    background-color: rgba(255, 255, 255, 0.95);
    /*border-color: gba(255, 255, 255, 0.95);*/
    border:none;
}


.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border : none;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}

.dropdown-menu li a {
    pading: 0px;
}


#menu-menu-principal{
    padding: 20px 0px 0px 20px;
    
}


/* ------------------------- Logo ---------------------------- */

/* cache le texte du site title */
.site-title {
    text-indent: -9999px;
    margin: 0;
    padding: 20px 0px 0px 20px;
    line-height: 0;
}


/* ------------------------- Reseaux sociaux ---------------------------- */


nav ul a img{
    height: 12px;
   
}

.social-links-menu{
    padding: 16px 0px 0px 20px;
}

 



/*--------------------------------------------------------------
                            Footer
--------------------------------------------------------------*/



.site-footer{
    background-color: #434343;
    color:#fff;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* footer 1 */

.logo-footer{
    padding: 0;
}

.logo-footer div{
    margin: 80px 0px 55px 0px;
    padding: 0 30px 0 0;
    
}

/* footer 2-1 */

.footer2 span{
    color: #ff007a;
    
}

.footer2-1{
    padding-right: 100px;
    padding-left: 0px;
}


/* footer 2-2 */


.adresse{
    margin-bottom: 30px;
}

.btn-contact {
    padding: 8px 13px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    color:#fff;
    
}

.btn.btn-contact {
  border-radius:0;
  background-color: #ff007a;
}

.btn-contact:hover{
    background-color: #e6e6e6;
}

/* footer 2-3 */

.footer2-3 div{
    margin-bottom: 35px;
}



#hr{
    width:115px;
    
}
#hr hr{
color: #fff;
border-top: 3px solid;
margin : 8px 0 0px 0;
}

#hr{
    margin : 0 0 10px 0;
}

.reseaux-sociaux-footer li{
    display: inline-block;
    text-decoration: none;
    padding: 0; 
   
}
.reseaux-sociaux-footer{
    display: inline-block;
    text-decoration: none;
    padding: 0; 
    margin: 0 0 12px 0;
}
 
.reseaux-sociaux-footer li a img{
    width: 30px;
    height: 30px;
}


/*--------------------------------------------------------------
                            Posts type et Pages 
--------------------------------------------------------------*/


h1.entry-title{
    text-align: left;
    margin-top:40px;
    margin-bottom:30px;
}



/*--------------------------------------------------------------
                            Pages 
--------------------------------------------------------------*/

.entry-header-page{
    position: relative;
}

.entry-title-page{
    position: absolute;
    font-size: 80px;
    left: 10%;
    top:35%;
    color:#fff;
    width:700px;
    text-align: left;
    
}        
  



/*--------------------------------------------------------------
                            Page Prestation
--------------------------------------------------------------*/

.prestation:nth-child(2n+1){
   
    display: flex;
     

}

.prestation:nth-child(2n+1)>.element:nth-child(1) {
  
    
    order:2;
    width:50%;
}



.prestation:nth-child(2n+1)>.element:nth-child(2) {
    
    
    order:1;
    width:50%;
}



.box-liens-relative{
    background-color: #e3e0dd;
}


.prestation, .image-prestation {
    margin:0;
    padding : 0;
}

.image-prestation>img{
    border: 1px solid black;
}

description.prestation{
    margin:0;
   
}

.description-prestation a>h3{
    padding : 0px 45px 5px 45px;
    
   
} 

.description-prestation p{
    padding : 0px 45px 5px 45px;
    margin: 0;
    
} 

.description-prestation article>.h3-animation{
    
    margin: 15px 45px 5px 45px;
    
    color: #000;
    text-decoration: none;
    font-size:20px;
    font-family: 'Droid Sans', sans-serif;
    font-weight:bold;
}
    
.description-prestation article {
    width: 100%;
}
   

.prestation:nth-child(2n+1)>.element:nth-child(2)>article {
   float:right;
   text-align: right;
  
}

.btn-voir {
    margin: 15px 45px 5px 45px;
    padding: 8px 13px;
    border-radius:2px;
    border: 2px solid;
    border-color: #ff007a;
    font-weight: 700;
    letter-spacing: 1px;
    color:#ff007a;
   
   
}



 a.btn-voir, a:visited.btn-voir, a:focus.btn-voir, a:visited.btn-voir {
    color: #ff007a;
    text-decoration: none;
    font-size: 18px;
    padding-right:30px;
}

.btn.btn-voir {
  border-radius:2px;
  border: 2px solid;
  background-color: #fff;
  border-color: #ff007a;
  background-image: url(/wp-includes/images/studiogarnier/fleche-bouton-voir-01.png);
  background-position:97% 50%;
  background-repeat:no-repeat;
  
}

.btn-voir:hover{
    background-color: #fff;
    border-color: #ff007a;
}



.embed-container 
{ 
position: relative; 
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
max-width: 100%;
height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        }



.page-prestations img{
            width: 100%;
} 

.entry-content-page-prestation {
    
    margin-top: 100px;
    margin-bottom: 50px;
     
}

.lien-ancre-animations>a>img{
    width:30%;
  
}

.lien-ancre-animations{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#ancre-animations{
    height:50px;
}

      

/*--------------------------------------------------------------
                            Reference
--------------------------------------------------------------*/




.ref-description{
    margin : 50px 0 35px 0;
}



.categories{
    font-size: 14px;
    font-weight: bold; 
    
}

.meta-post a{
    font-size: 14px;
    color: #000;
    font-weight: regular; 
}
    
.meta-post a:hover{
    font-size: 14px;
    color: #ff007a;
    font-weight: regular; 
}

.entry-header-single-reference{
    margin-top:25px;
}

.entry-header-single-reference .entry-title-reference{
   
    padding-top: 30px;
    text-align: center;
    margin-bottom:30px;
}

.screen-reader-text{
    display:none;
}


/*--------------------------------------------------------------
                            Page References
--------------------------------------------------------------*/

.vignette, .vignette>article{
    padding: 0;
    margin: 0;
}



/*--------------------------------------------------------------
                            Single
--------------------------------------------------------------*/

.nav-previous{
    display: bloc;
    text-align: left;
    width: 50%;
    float:left;
    margin-bottom: 30px;
}

.nav-next{
   display: bloc;
    text-align: right;
    width: 50%;
    float:left;
    margin-bottom: 30px;
}

h1.entry-title-single, h2.entry-title-single{
    text-align: center;
    margin-top:40px;
    margin-bottom:30px;
}

h2.entry-title-single a{
    color:#000;
}

h2.entry-title-single a:hover, h2.entry-title-single a:focus{
    color:#ff007a;
    text-decoration: none;
}


.cadre{
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: #ff007a;
    border-right-color: #ff007a;
    border-left-color: #ff007a;
    border-top-color: #ff007a;
    margin-bottom: 50px;
}

.single-date hr{
    max-width: 100%;
    margin: 5px 350px 30px 350px;
   
    color: #ff007a;
    border-top: 3px solid;
    
}

.single-date{
    color:#ff007a;
    text-align: center;
    font-size: 18px;
    margin: 0 0 30px 0;
}


.entry-content p{
    padding : 0 10% 0 10%;
    margin-top: 20px;
     
}


.single-content>div{
    margin:0;
    padding:0;
    
}

div.single-cat-hr > hr{
    max-width: 100%;
    margin: 15px 350px 30px 350px;
    background-color: #000;
   height:2px;
    
}

.entry-content .categories{
   text-align: center;
}

.entry-content a, .entry-content a:visited{
    color: #000;
    text-decoration: none;
    font-weight: 400;
}

.entry-content a:focus, .entry-content a:hover{
    color: #ff007a;
    text-decoration: none;
    font-weight: 400;
}

.categories-single{
    margin-bottom: 50px;
}


/*--------------------------------------------------------------
                            Page Accueil
--------------------------------------------------------------*/

.carousel-inner>.item{
    height:600px;
}


.carousel-indicators{
    text-align: left;
}



h2{
    margin-top: 80px;
}


.glyphicon-chevron-left::before, .glyphicon-chevron-right::before{
     display:none;
}

.glyphicon-chevron-left::before{
     background-image: url(/wp-includes/images/studiogarnier/fleche-bouton-voir-01.png);
     
}

.carousel-indicators li{
    
        border: 1px solid #ff007a;
    
}


.carousel-indicators .active {
    width: 12px;
    height: 12px;
    /* margin: 0; */
    background-color: #ff007a;
}


.carousel-caption p{
    font-size: 120px;
    text-align: left;
    font-weight: 700;
        text-shadow: none;
        line-height: 120px;
        width: 80%;
        position:absolute;
        bottom:150px;
        left:0%
    
}

.carousel-caption a{
    margin: 20px 0 60px 0;
    color:#fff;
}


/*--------- Liste catégories animations ----------------------*/

#sgr-custom-taxonomies-menu-3, #sgr-custom-taxonomies-menu-4 {
    width:50%;
    display: inline-block;
    /*margin:60px 0 80px 0;*/
    padding: 0;
    
}

#sgr-custom-taxonomies-menu-3 li, #sgr-custom-taxonomies-menu-4 li{
list-style: none;
text-transform: capitalize;
}

#sgr-custom-taxonomies-menu-3 li a, #sgr-custom-taxonomies-menu-4 li a{
 color: #000;
}

#sgr-custom-taxonomies-menu-3 li a:hover, #sgr-custom-taxonomies-menu-4 li a:hover{
 
 color: #ff007a;
}


#sgr-custom-taxonomies-menu-4>ul {
    border-left: #ff007a solid;
    padding:0;
    
}

.widget-liens-catégories>section:nth-child(1){
    text-align: right;
    padding : 40px;
}

.widget-liens-catégories>section:nth-child(2){
    
    text-align: left;
     padding : 40px;
}

.widget-liens-catégories>section:nth-child(1) li{
     padding-right : 80px;
}


.widget-liens-catégories>section:nth-child(2) li{
     padding-left : 80px;
}

.widget-liens-catégories{
    margin : 80px 0 80px 0;
}

.widget-liens-catégories>section a{
    text-decoration: none;
}


/*--------- Contenu Home ----------------------*/

h1.titre-home{
    padding: 30px;
    font-size: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
    margin-bottom:60px;
}

.content-home p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 70px 0 70px;
    
}

  
.content-home article{
    padding : 20px 10px 15px 20px;
}



/*--------- Liens vers pages Prestations ----------------------*/

.lien-prestation-home{
   text-align: center;
   height: 70px;
   font-weight: 700;
   font-size: 16px;
   text-transform: uppercase;
   padding:0 90px 0px 90px;
   background-color: #e3e0dd;
 
}


#main > div:nth-child(4) > section.prestations-home > img{
    
    width: 100%;
}

.oblique{
    margin:0;
    padding: 0;
}
 
.box-liens-relative{
    position:relative;
}
  

 div#myobliqueDiv {
    margin:0;
    padding: 0;
    height: 100px;
    background-color: #e3e0dd;
    border-top: 1px solid #ff007a;
    -ms-transform: skewY(5deg); /* IE 9 */
    -webkit-transform: skewY((5)deg); /* Safari */
    transform: skewY(5deg); /* Standard syntax */
    position : absolute;
    left: 0px;
    top:-50px;
    
} 

 div#myobliqueDiv2 {
    margin:0;
    padding: 0;
    height: 100px;
    background-color: #e3e0dd;
    border-top: 1px solid #ff007a;
    -ms-transform: skewY(-5deg); /* IE 9 */
    -webkit-transform: skewY(-5deg); /* Safari */
    transform: skewY(-5deg); /* Standard syntax */
    position : absolute;
    right: 0px;
    top:-50px;
    
    
} 

.lien-presta-1>a, .lien-presta-2>a, .lien-presta-3>a, .lien-presta-4>a{
    text-decoration: none;
    color: #ff007a;
}
.lien-presta-1>a:hover, .lien-presta-2>a:hover, .lien-presta-3>a:hover, .lien-presta-4>a:hover{
    text-decoration: none;
    color: #fff;
}
  
.lien-presta-2{
    border-left: 3px solid #ff007a;
    
}

.lien-presta-3{
    border-left: 3px solid #ff007a;
    border-right: 3px solid #ff007a;
    
}

.fond-gris{
    height: 50px;
    background-color: #e3e0dd;
}



/*--------- Titres H2 ----------------------*/
h2.titre-home{
    font-size: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
    margin-bottom:40px;
}



.trait-qqs-ref{
    height:40px;
    border-top: 4px solid #000;
   
}

/*--------- Nos prestations ----------------------*/


section.quelques-references h2 a{
    text-decoration: none;
    color:#000;
    
}

section.quelques-references h2 a:actif, section.quelques-references h2 a:visited{
    text-decoration: none;
    color:#000;
    
}

section.quelques-references h2 a:hover{
    text-decoration: none;
    color:#ff007a;
    
}

.titre2-home{
    margin-bottom: 50px;
}



.vignette article, .vignettes-ref-home{
    margin:  2%;
}



.thumbnail-reference-home img{
    position: relative;
     opacity : 1;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
}

.thumbnail-text{
    position: absolute;
    text-align: center;
     top: 0%;
    left: 0%;
    color: #fff;
       opacity : 0;
     transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
      transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    
   
    width: 100%;
   height:100%;
   
}

.section-vignettes{
    padding : 10px 0px 10px 0px;
}



vignette .thumbnail-reference-home img:hover{
     opacity : 0;
}

.thumbnail-text:hover{
    opacity : 1;
    background-color:#ff007a; 
}

.thumbnail-text a{
    color:#fff;
    text-decoration: none;
    
}

.thumbnail-text h5{
    padding: 25px 5px 0px 0;
    font-size: 25px;
    margin:0;
}

.liens-taxo-thumbnail{
    padding: 10px;
    font-size: 15px;
}


.logo-partenaire a {
	display: inline-block;
        vertical-align: middle;
}

.partenaires{
    background-color: #ede9e4;
    padding-top: 50px;
    padding-bottom: 50px;
    
}


/*.vignettes-ref-home{
    margin: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 100%
}*/

section-vignettes{
    background-color: #fff;
}

.vignette{
    width: 25%;
    float: left;
}

.partenaire{
    margin-top:30px;
    margin-bottom:30px;
    display: inline-block;
    
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.nombres{
    padding: 40px 0 60px 0;
    border-top: 4px solid #ff007a ;
    
}
.circle {
	border-radius: 50%;
        border: 4px solid #ff007a ;
	width: 170px;
	height: 170px; 
        background: transparent;
        text-align:center;
	font-size: 80px;
        font-weight: 700;
        padding-top: 20px;
        color:#ff007a;
        margin-top: 40px;
        margin-right: auto;
         margin-left: auto;
           
}

.suite-nombre{
    font-size: 25px;
    color: #ff007a;
    width:55%;
    padding-top: 30px;
    text-align:center;
    margin-right: auto;
    margin-left: auto;
           
}


/*--------------------------------------------------------------
                            Page Equipe
--------------------------------------------------------------*/


.gallery-item{
      display: inline-block;
      float:left;
      width:25%;
      padding:1%;

}


.gallery:after {
  content: "";
  display: table;
  clear: both;
}

.entry-content h2{
    font-size: 60px;

}


.separateur{
    width:280px;
    height: 4px;
    color:#000;
    background-color: #000;
    margin-top:50px;
    margin-bottom:50px;
}





.page-equipe.entry-content p{
    margin-bottom:150px;
    margin-top: 2px

}


/*--------------------------------------------------------------
                            Page taxonomy
--------------------------------------------------------------*/


.header-taxonomy>h1{
    /*text-indent: -9999px;*/
    margin: 0;
    padding: 0;
    line-height: 0;
}

.header-taxonomy{
    border-bottom: none;
    padding-bottom: 0px;
    margin: 50px 30px 20px 30px;
   

}
.reference a > img{
    padding: 1.2%;
    
}

.boucle-references{
    padding: 0.2%;
}
.page-taxonomy aside{
    /*padding-top: 120px;*/
    padding-left: 4%;
}

.page-taxonomy aside>ul{
     padding-top: 15px;
}

.page-taxonomy aside li{
     font-size: 18px;
     font-weight: 700;
     list-style: none;
     color:#7d7d7d;
     padding: 7px;
     
}

.page-taxonomy aside ul{
    margin-left:0;
    padding-left:0;
}


.page-taxonomy aside ul>li>ul>li{
     font-size: 18px;
     font-weight: 400;
     list-style: none;
     color:#7d7d7d;
     
    
}

.page-taxonomy aside ul>li>ul>li>a{
    color:#7d7d7d;
    text-decoration: none;
    
}

.page-taxonomy aside ul>li>ul>li>a:focus, .page-taxonomy aside ul>li>ul>li>a:hover, .page-taxonomy aside ul>li>ul>li>a:active{
    color: #ff007a;
    
}
    
.page-taxonomy aside{}
/*--------------------------------------------------------------
-------------------------*****************
                            MEDIAQUERIES
                        ****************** -----------------------
--------------------------------------------------------------*/


@media all and (max-width: 768px)  {
    
    
    
    header > h1.entry-title{
        font-size:30px;
        width:70%;
        top:10px;
    }
    
    .site-branding img{
        max-width:50%
    }
    
    .site-branding{
        margin-left : 30px;
    }

/*--------------------------------------------------------------
                            Page Accueil
--------------------------------------------------------------*/


.content-home p{
    padding: 0 5px 0 5px;
}
    
#sgr-custom-taxonomies-menu-4>ul, #sgr-custom-taxonomies-menu-3>ul {
    border: none;
    padding:0;
    text-align: center;
    
}

.widget-liens-catégories>section:nth-child(1){
    text-align: left;
    padding : 40px;
}

.widget-liens-catégories>section:nth-child(2){
    
    text-align: left;
     padding : 40px;
}

.widget-liens-catégories>section:nth-child(1) li, .widget-liens-catégories>section:nth-child(2) li{
     padding: 10px 30px;
     
}

#sgr-custom-taxonomies-menu-4, #sgr-custom-taxonomies-menu-3{
    width:100%;
}

.fond-gris{
    height: 0px;
}


.thumbnail-text h5 {
    padding: 30px 15px 10px 15px;
    font-size: 22px;
    margin: 0;
}
/*--------------------------------------------------------------
                            Page Equipe
--------------------------------------------------------------*/

.gallery-item{
      display: inline-block;
      float:left;
      width:50%;
      padding:1%;

}


/*--------------------------------------------------------------
                            Page Prestation
--------------------------------------------------------------*/




.entry-content-page-prestation {
    margin-top: 50px;
 
}


.prestation:nth-child(2n+1){
   
    display: flex;
     flex-direction: column;

}

.prestation:nth-child(2n+1)>.element:nth-child(1) {
  
    
    order:2;
    width:100%;
}

.prestation:nth-child(2n+1)>.element:nth-child(2) {
    
   
    order:1;
    width:100%;
}



.box-liens-relative{
    background-color: #e3e0dd;
}

    
 .description-prestation article {
    width: 100%;
    float: left;
    
}

.description-prestation.element > article > a.btn.btn-default.btn-voir{
    float:none;
    margin-bottom:150px;
    font-size: 16px;
    
}





.prestation:nth-child(2n+1){
   
    display: flex;
    flex-direction: column;

}

.prestation:nth-child(2n+1)>.element:nth-child(1) {
  
    
    order:1;
    width:100%;
}

.prestation:nth-child(2n+1)>.element:nth-child(2) {
    
    
    order:2;
    width:100%;
}

.description-prestation article {
    width: 100%;
    float: left;
}


    


.description-prestation.element > article > a.btn.btn-default.btn-voir{
   font-size: 14px;
    margin: 10px 20px 150px 20px;
   
    
}

.header-taxonomy h1{
    font-size: 22px;
}

.header-taxonomy{
    border-bottom: none;
    padding-bottom: 0px;
    margin: 50px 30px 20px 30px;
    height: auto;
   

}
.carousel-caption p{
    font-size: 60px;
 
}

.carousel-inner>.item{
    height:280px;
}



}
    

@media (min-width: 768px) and (max-width: 992px)  {
    

.partenaire {
    display: inline-block;
    width: 33%;
    height: 33%;
    text-align: center;
}


.lien-presta-2, .lien-presta-3{
    border:none;
    
}



/*--------------------------------------------------------------
                            Page Prestation
--------------------------------------------------------------*/

.prestation:nth-child(2n+1){
   
    display: flex;
    flex-direction: column;

}

.prestation:nth-child(2n+1)>.element:nth-child(1) {
  
    
    order:1;
    width:100%;
}

.prestation:nth-child(2n+1)>.element:nth-child(2) {
    
    
    order:2;
    width:100%;
}

.description-prestation article {
    width: 100%;
    float: left;
}

.description-prestation.element > article > a.btn.btn-default.btn-voir{
    
    margin-bottom:150px;
}
    
.carousel-caption p{
    font-size: 80px;
 
}

.carousel-inner>.item{
    height:500px;
}
  

}



@media (min-width: 993px) and (max-width: 1200px)  {
    
    
 .description-prestation article {
    width: 100%;
    float: left;
}

.carousel-caption p{
    font-size: 100px;
 
}
}



@media (min-width: 1200px) and (max-width: 1400px) 
 {
   
    .description-prestation article {
    width: 70%;
}


.lien-prestation-home a{
    display: inline-block;
    width:75%;
}
   
.carousel-inner>.item{
    height:700px;
}


.content-home p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 120px 0 120px;
    
}



    
}

@media (min-width: 1400px){
    
    .section-vignettes{
    padding : 10px 250px 10px 250px;
}

    
}